<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://healthmed-api-ggeheah7feh2bdhf.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>1d9ed8c2-953e-46f6-b660-a43e943f6b12</ProjectGuid>
    <PublishUrl>https://healthmed-api-ggeheah7feh2bdhf.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$HealthMed-API</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>